
        <div class="col-md-3 col-sm-5 col-lg-2">
            <div class="card">
                <img src="{{this.picture}}"
                    alt="pochettejeu" class="w-100" style="height: 261px; width:162px">
            </div>
            <div class="card-body my-2 text-center">
                <a href="/{{this.name}}" class="card-link text-decoration-none">{{this.name}}</a>
            </div>
        </div>