<div class="container-fluid text-center py-3">
    <h1 class="display-6">Bienvenue sur Pokéllection</h1>
    <p class="py-2">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam deleniti perspiciatis architecto eius.
        Soluta consequuntur accusamus at, consequatur exercitationem quaerat
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam deleniti perspiciatis architecto eius.
        Soluta consequuntur accusamus at, consequatur exercitationem quaerat
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam deleniti perspiciatis architecto eius.
        Soluta consequuntur accusamus at, consequatur exercitationem quaerat
    </p>
</div>