<tr class="table">
    <td>
        <div class="d-flex">
            <p class="text-primary">c</p>
            <p class="text-muted">c</p>
        </div>
        <p class="ms-5">{{this.text}}</p>
        <div class="d-flex">
            <button type="button" class="btn btn-link" data-bs-toggle="modal"
                data-bs-target="#modalUpdateComment">éditer</button>
            <button type="button" class="btn btn-link" data-bs-toggle="modal"
                data-bs-target="#modalDeleteComment">supprimer</button>
            <button type="button" class="btn btn-link" data-bs-toggle="modal"
                data-bs-target="#modalReportComment">signaler</button>
        </div>
    </td>
</tr>
