<div class="container table-responsive-sm mt-2">
    <h1 class="text-center display-5 mt-3">Liste deck</h1>
    <table class="table text-center">
        <thead class="table-info">
            <tr>
                        <th class="col-md-3">Séries decks</th>
                        <th class="col-md-3">Collection</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th><a href="#" class="text-decoration-none">Epée / Bouclier</a></th>
                        <th>Dracaufeu</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">Epée / Bouclier</a></th>
                        <th>Torgamord</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">Epée / Bouclier</a></th>
                        <th>Darumacho de Galar</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">Epée / Bouclier</a></th>
                        <th>Zacian</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">Epée / Bouclier</a></th>
                        <th>Zamazenta</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">Epée / Bouclier</a></th>
                        <th>Gorythmic</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">Epée / Bouclier</a></th>
                        <th>Lézargus</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">Epée / Bouclier</a></th>
                        <th>Pyrobut</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">Soleil / Lune</a></th>
                        <th>Obscurs</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">Soleil / Lune</a></th>
                        <th>Vertigineux</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">Soleil / Lune</a></th>
                        <th>Orageuse</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">Soleil / Lune</a></th>
                        <th>Fixation Laser</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">Soleil / Lune</a></th>
                        <th>Ellipse Electrique</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">Soleil / Lune</a></th>
                        <th>Esprit Combattant</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">Soleil / Lune</a></th>
                        <th>Canon Torrentiel</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">Soleil / Lune</a></th>
                        <th>Flamme Incessante</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">Soleil / Lune</a></th>
                        <th>Invocateur de Tempête</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">Soleil / Lune</a></th>
                        <th>Brasier Volcanique</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">Soleil / Lune</a></th>
                        <th>Charge Forestière</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">Soleil / Lune</a></th>
                        <th>Furie Aquatique</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">Soleil / Lune</a></th>
                        <th>Démontage Tropical</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">Soleil / Lune</a></th>
                        <th>Truand du Crépuscule</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">Soleil / Lune</a></th>
                        <th>Impact Supersonique</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">Soleil / Lune</a></th>
                        <th>Commande Impériale</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">Soleil / Lune</a></th>
                        <th>Tonnerre Tonitruant</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">Soleil / Lune</a></th>
                        <th>Croc Destructeur</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">Soleil / Lune</a></th>
                        <th>Rocher Stable</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">Soleil / Lune</a></th>
                        <th>Givre Lumineux</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">Soleil / Lune</a></th>
                        <th>Lune Voilée</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">Soleil / Lune</a></th>
                        <th>Soleil d'Acier</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">Soleil / Lune</a></th>
                        <th>Houle Lumineuse</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">Soleil / Lune</a></th>
                        <th>Rugissement Ardent</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">Soleil / Lune</a></th>
                        <th>Sentinelle Sylvestre</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">XY</a></th>
                        <th>Mêlée Mewtwo</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">XY</a></th>
                        <th>Puissance Pikachu</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">XY</a></th>
                        <th>Anneau Electrique</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">XY</a></th>
                        <th>Rouage de Feu</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">XY</a></th>
                        <th>Chef de Combat</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">XY</a></th>
                        <th>Gardien Céleste</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">XY</a></th>
                        <th>Regard Electrique</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">XY</a></th>
                        <th>Vague Pourfendue</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">XY</a></th>
                        <th>Impact Nocturne</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">XY</a></th>
                        <th>Flamme Etincelante</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">XY</a></th>
                        <th>Coeur de Roc</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">XY</a></th>
                        <th>Marée Métallique</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">XY</a></th>
                        <th>Souffle Polaire</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">XY</a></th>
                        <th>Orage Foudroyant</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">XY</a></th>
                        <th>Abysse Océanique</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">XY</a></th>
                        <th>Pulsation Terrestre</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">XY</a></th>
                        <th>Vortex Fulgurant</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">XY</a></th>
                        <th>Vents Ardents</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">XY</a></th>
                        <th>Fougue Obscure</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">XY</a></th>
                        <th>Echo Enchanteur</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">XY</a></th>
                        <th>Typhon Mystique</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">XY</a></th>
                        <th>Tonnerre Brillant</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">XY</a></th>
                        <th>Oblitération</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">XY</a></th>
                        <th>Vitalité</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">XY</a></th>
                        <th>Feunnec</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">XY</a></th>
                        <th>Grenousse</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">XY</a></th>
                        <th>Marisson</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">Noir / Blanc</a></th>
                        <th>Aspiration Mentale</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">Noir / Blanc</a></th>
                        <th>Impact Solaire</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">Noir / Blanc</a></th>
                        <th>Rayon Glacial</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">Noir / Blanc</a></th>
                        <th>Ecrasement Psychique</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">Noir / Blanc</a></th>
                        <th>Griffe Plasma</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">Noir / Blanc</a></th>
                        <th>Ombre Plasma</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">Noir / Blanc</a></th>
                        <th>Foudre Glaciale</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">Noir / Blanc</a></th>
                        <th>Flamme Glaciale</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">Noir / Blanc</a></th>
                        <th>Elan Draconique</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">Noir / Blanc</a></th>
                        <th>Rugissement Draconique</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">Noir / Blanc</a></th>
                        <th>Aventuriers</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">Noir / Blanc</a></th>
                        <th>Ombres</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">Noir / Blanc</a></th>
                        <th>Eclats Explosif</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">Noir / Blanc</a></th>
                        <th>Vortex Voltaique</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">Noir / Blanc</a></th>
                        <th>Vive Stupeur</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">Noir / Blanc</a></th>
                        <th>Chevaliers Ardents</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">Noir / Blanc</a></th>
                        <th>Ruses Toxiques</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">Noir / Blanc</a></th>
                        <th>Jeu de Force</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">Noir / Blanc</a></th>
                        <th>Tornade Verte</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">Noir / Blanc</a></th>
                        <th>Furie Rouge</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">Noir / Blanc</a></th>
                        <th>Offensive Bleue</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">HeartGold / SoulSilver</a></th>
                        <th>Riposte</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">HeartGold / SoulSilver</a></th>
                        <th>Reconnaissance</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">HeartGold / SoulSilver</a></th>
                        <th>Garde Royale</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">HeartGold / SoulSilver</a></th>
                        <th>Givre Verdoyant</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">HeartGold / SoulSilver</a></th>
                        <th>Crépuscule</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">HeartGold / SoulSilver</a></th>
                        <th>Aurore</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">HeartGold / SoulSilver</a></th>
                        <th>Chaos Contrôlé</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">HeartGold / SoulSilver</a></th>
                        <th>Sentinelle D'Acier</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">HeartGold / SoulSilver</a></th>
                        <th>Etincelle Embrasée</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">HeartGold / SoulSilver</a></th>
                        <th>Végétation Luxuriante</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">HeartGold / SoulSilver</a></th>
                        <th>Marée Psychique</th>
                    </tr>
        </tbody>
    </table>
</div>