<div class="container table-responsive-sm mt-2 col-7">
    <h1 class="text-center display-5 mt-3">Liste booster</h1>
    <table class="table">
        <thead class="table-info">
            <tr>
                <th class="text-secondary">Séries boosters</th>
                <th class="text-secondary">Collection</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th><a href="#" class="text-decoration-none">Epée / Bouclier</a></th>
                <th>Tempête Argentée</th>
            </tr>
            <tr>
                <th><a href="#" class="text-decoration-none">Epée / Bouclier</a></th>
                <th>Origine Perdue</th>
            </tr>
            <tr>
                <th><a href="#" class="text-decoration-none">Epée / Bouclier</a></th>
                <th>Astres Radieux</th>
            </tr>
            <tr>
                <th><a href="#" class="text-decoration-none">Epée / Bouclier</a></th>
                <th>Règne de Glace</th>
            </tr>
            <tr>
                <th><a href="#" class="text-decoration-none">Epée / Bouclier</a></th>
                <th>Voltage Eclatant</th>
            </tr>
            <tr>
                <th><a href="#" class="text-decoration-none">Epée / Bouclier</a></th>
                <th>Ténèbres Embrasées</th>
            </tr>
            <tr>
                <th><a href="#" class="text-decoration-none">Epée / Bouclier</a></th>
                <th>Clash des Rebelles</th>
            </tr>
            <tr>
                <th><a href="#" class="text-decoration-none">Epée / Bouclier</a></th>
                <th>Epée et Bouclier</th>
            </tr>
            <tr>
                <th><a href="#" class="text-decoration-none">Soleil / Lune</a></th>
                <th>Eclipse Cosmique</th>
            </tr>
            <tr>
                <th><a href="#" class="text-decoration-none">Soleil / Lune</a></th>
                <th>Harmonie des Esprits</th>
            </tr>
            <tr>
                <th><a href="#" class="text-decoration-none">Soleil / Lune</a></th>
                <th>Alliance infaillible</th>
            </tr>
            <tr>
                <th><a href="#" class="text-decoration-none">Soleil / Lune</a></th>
                <th>Duo de choc</th>
            </tr>
            <tr>
                <th><a href="#" class="text-decoration-none">Soleil / Lune</a></th>
                <th>Tonnerre Përdu</th>
            </tr>
            <tr>
                <th><a href="#" class="text-decoration-none">Soleil / Lune</a></th>
                <th>Tempête Céleste</th>
            </tr>
            <tr>
                <th><a href="#" class="text-decoration-none">Soleil / Lune</a></th>
                <th>Lumière interdite</th>
            </tr>
            <tr>
                <th><a href="#" class="text-decoration-none">Soleil / Lune</a></th>
                <th>Ultra-Prisme</th>
            </tr>
            <tr>
                <th><a href="#" class="text-decoration-none">Soleil / Lune</a></th>
                <th>Invasion Carmin</th>
            </tr>
            <tr>
                <th><a href="#" class="text-decoration-none">Soleil / Lune</a></th>
                <th>Ombre Ardente</th>
            </tr>
            <tr>
                <th><a href="#" class="text-decoration-none">Soleil / Lune</a></th>
                <th>Gardiens Ascendants</th>
            </tr>
            <tr>
                <th><a href="#" class="text-decoration-none">Soleil / Lune</a></th>
                <th>Soleil et Lune</th>
            </tr>
            <tr>
                <th><a href="#" class="text-decoration-none">XY</a></th>
                <th>Evolutions</th>
            </tr>
            <tr>
                <th><a href="#" class="text-decoration-none">XY</a></th>
                <th>Offensive Vapeur</th>
            </tr>
            <tr>
                <th><a href="#" class="text-decoration-none">XY</a></th>
                <th>Rupture TURBO</th>
            </tr>
            <tr>
                <th><a href="#" class="text-decoration-none">XY</a></th>
                <th>Impulsion TURBO</th>
            </tr>
            <tr>
                <th><a href="#" class="text-decoration-none">XY</a></th>
                <th>Origines Antiques</th>
            </tr>
            <tr>
                <th><a href="#" class="text-decoration-none">XY</a></th>
                <th>Primo-Choc</th>
            </tr>
            <tr>
                <th><a href="#" class="text-decoration-none">XY</a></th>
                <th>Vigueur Spectrale</th>
            </tr>
            <tr>
                <th><a href="#" class="text-decoration-none">XY</a></th>
                <th>Etincelles</th>
            </tr>
            <tr>
                <th><a href="#" class="text-decoration-none">XY</a></th>
                <th>XY</th>
            </tr>
            <tr>
                <th><a href="#" class="text-decoration-none">Noir / Blanc</a></th>
                <th>Trésors Légendaires</th>
            </tr>
            <tr>
                <th><a href="#" class="text-decoration-none">Noir / Blanc</a></th>
                <th>Explosion Plasma</th>
            </tr>
            <tr>
                <th><a href="#" class="text-decoration-none">Noir / Blanc</a></th>
                <th>Glaciation Plasma</th>
            </tr>
            <tr>
                <th><a href="#" class="text-decoration-none">Noir / Blanc</a></th>
                <th>Tempête Plasma</th>
            </tr>
            <tr>
                <th><a href="#" class="text-decoration-none">Noir / Blanc</a></th>
                <th>Frontières Franchies</th>
            </tr>
            <tr>
                <th><a href="#" class="text-decoration-none">Noir / Blanc</a></th>
                <th>Dragons Exaltés</th>
            </tr>
            <tr>
                <th><a href="#" class="text-decoration-none">Noir / Blanc</a></th>
                <th>Explorateurs Obscurs</th>
            </tr>
            <tr>
                <th><a href="#" class="text-decoration-none">Noir / Blanc</a></th>
                <th>Destinées Futures</th>
            </tr>
            <tr>
                <th><a href="#" class="text-decoration-none">Noir / Blanc</a></th>
                <th>Nobles Victoires</th>
            </tr>
            <tr>
                <th><a href="#" class="text-decoration-none">Noir / Blanc</a></th>
                <th>Pouvoirs Emergents</th>
            </tr>
            <tr>
                <th><a href="#" class="text-decoration-none">Noir / Blanc</a></th>
                <th>Noir & Blanc</th>
            </tr>
            <tr>
                <th><a href="#" class="text-decoration-none">HeartGold / SoulSilver</a></th>
                <th>L'Appel des Légendes</th>
            </tr>
            <tr>
                <th><a href="#" class="text-decoration-none">HeartGold / SoulSilver</a></th>
                <th>HS - Triomphe</th>
            </tr>
            <tr>
                <th><a href="#" class="text-decoration-none">HeartGold / SoulSilver</a></th>
                <th>HS - Indomptable</th>
            </tr>
            <tr>
                <th><a href="#" class="text-decoration-none">HeartGold / SoulSilver</a></th>
                <th>HS - Déchainement</th>
            </tr>
            <tr>
                <th><a href="#" class="text-decoration-none">HeartGold / SoulSilver</a></th>
                <th>HeartGold & SoulSilver</th>
            </tr>
        </tbody>
    </table>
</div>