<!-- content -->
<form action="submit" class="container-fluid my-5">
    <div class="row justify-content-center my-2 mb-5">
        <h1 class="text-center mb-5">Connexion</h1>
        <div class="col-md-3 mt-2">
            <input type="text" class="form-control" placeholder="First name" aria-label="First name">
        </div>
        <div class="col-md-3 mt-2">
            <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
        </div>
    </div>
    <div class="col-md-6 container-fluid text-center">
        <button type="button" class="btn btn-primary">Connexion</button>
        <div class="container-fluid text-end m-3">
            <a href="/mdpoublie" class="text-decoration-none m-2">Mot de passe oublié</a>
            <a href="/creationcompte" class="text-decoration-none m-2">Créer un compte</a>
        </div>
    </div>
</form>