<!-- content -->
    <div class="container-fluid text-center py-3">
        <h1 class="display-6 py-2">Liste des mangas</h1>
        <div class="container-fluid">
            <table class="table">
                <thead class="table-secondary">
                    <tr>
                        <th class="col-md-3">Titre</th>
                        <th class="col-md-3">Date de sortie</th>
                        <th class="col-md-3">Nb tomes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th><a href="#" class="text-decoration-none">Pokémon Try Adventure</a></th>
                        <th>2010 - 2011 </th>
                        <th>3</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">Pokemon Card ni Natta Wake</a></th>
                        <th>22 mai 1999 - sep 2001</th>
                        <th>6</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">Pokémon Get da ze!</a></th>
                        <th>1998 - 2002</th>
                        <th>5</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">Pokémon Pocket Monsters</a></th>
                        <th>nov 1996 - 28 avr 2003</th>
                        <th>14</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">Pokémon DP: Pocket Monsters Diamond Pearl
                                Monogatari</a></th>
                        <th>27 fev 2007 - 28 oct 2009</th>
                        <th>8</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">Pocket Monsters RéBURST</a></th>
                        <th>9 mars 2011 - 10 oct 2012</th>
                        <th>8</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">Satoshi to Pikachu</a></th>
                        <th>1997 - 2006</th>
                        <th>16</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">Pocket Monsters DP</a></th>
                        <th>2006 - 2009</th>
                        <th>5</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">Dengeki! Pikachu</a></th>
                        <th>avr 1997 - dec 1999</th>
                        <th>14</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">Pocket Monsters: PiPiPi★Adventure</a></th>
                        <th>3 juin 1997 - 28 dec 2002</th>
                        <th>10</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">Pokémon HGSS</a></th>
                        <th>2010 - ?</th>
                        <th>2</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">Pocket Monsters BW-hen</a></th>
                        <th>26 aout 2011 - 28 aout 2013</th>
                        <th>4</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">Pocket Monsters: Ruby-Sapphire-hen</a></th>
                        <th>aout 2003 - mai 2006</th>
                        <th>10</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">Pocket Monsters Kin Gin: Golden Boys</a></th>
                        <th>nov 1999 - sep 2001</th>
                        <th>10</th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">Pocket Monsters XY-hen</a></th>
                        <th>29 juin 2013 - 30 aout 2016</th>
                        <th>10</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>