
            <tr>
                <th><a href="/mangas/{{this.Id_articles}}" class="text-decoration-none">{{this.titlemangas}}</a></th>
                <th>{{this.parution}}</th>
                <th class="text-center">{{this.nb}}</th>
            </tr>
