<div class="container table-responsive-sm mt-2">
    <h1 class="text-center display-5 mt-3">Liste jeux</h1>
    <table class="table text-center">
        <thead class="table-info">
            <tr>
                <th class="col-md-3 text-secondary">Titre</th>
                <th class="col-md-3 text-secondary">Date de sortie</th>
                <th class="col-md-3 text-secondary">Version</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th><a href="/id" class="text-decoration-none">Ecarlate / Violet</a></th>
                <th>18 nov 2022</th>
                <th>Switch</th>
            </tr>
            <tr>
                <th><a href="/id" class="text-decoration-none">Légendes Pokémon</a></th>
                <th>28 jan 2022</th>
                <th>Switch</th>
            </tr>
            <tr>
                <th><a href="/id" class="text-decoration-none">Diamant Etincelant / Perle Scintillante</a></th>
                <th>19 nov 2021</th>
                <th>Switch</th>
            </tr>
            <tr>
                <th><a href="/id" class="text-decoration-none">DLC Epée / Bouclier</a></th>
                <th>17 juin 2020</th>
                <th>Switch</th>
            </tr>
            <tr>
                <th><a href="/id" class="text-decoration-none">Epée / Bouclier</a></th>
                <th>15 nov 2019</th>
                <th>Switch</th>
            </tr>
            <tr>
                <th><a href="/id" class="text-decoration-none">Let's go Pikachu / Evoli</a></th>
                <th>16 nov 2018</th>
                <th>Switch</th>
            </tr>
            <tr>
                <th><a href="/id" class="text-decoration-none">Ultra Soleil - Ultra Lune</a></th>
                <th>17 nov 2017</th>
                <th>3DS</th>
            </tr>
            <tr>
                <th><a href="/id" class="text-decoration-none">Soleil / Lune</a></th>
                <th>23 nov 2016</th>
                <th>3DS</th>
            </tr>
            <tr>
                <th><a href="/id" class="text-decoration-none">Rubis Oméga / Saphir Alpha</a></th>
                <th>28 nov 2014</th>
                <th>3DS</th>
            </tr>
            <tr>
                <th><a href="/id" class="text-decoration-none">X / Y</a></th>
                <th>12 oct 2013</th>
                <th>3DS</th>
            </tr>
            <tr>
                <th><a href="/id" class="text-decoration-none">Noir 2 / Blanc 2</a></th>
                <th>12 oct 2012</th>
                <th>DS</th>
            </tr>
            <tr>
                <th><a href="/id" class="text-decoration-none">Noir / Blanc</a></th>
                <th>04 mars 2011</th>
                <th>DS</th>
            </tr>
            <tr>
                <th><a href="/id" class="text-decoration-none">Or HeartGold / Argent SoulSilver</a></th>
                <th>26 mars 2010</th>
                <th>DS</th>
            </tr>
            <tr>
                <th><a href="/id" class="text-decoration-none">Platine</a></th>
                <th>22 mai 2009</th>
                <th>DS</th>
            </tr>
            <tr>
                <th><a href="/id" class="text-decoration-none">Diamant / Perle</a></th>
                <th>27 juil 2007</th>
                <th>DS</th>
            </tr>
            <tr>
                <th><a href="/id" class="text-decoration-none">Emeraude</a></th>
                <th>21 oct 2005</th>
                <th>GBA</th>
            </tr>
            <tr>
                <th><a href="/id" class="text-decoration-none">Rouge-Feu / Vert-Feuille</a></th>
                <th>01 oct 2004</th>
                <th>GBA</th>
            </tr>
            <tr>
                <th><a href="/id" class="text-decoration-none">Rubis / Saphir</a></th>
                <th>25 juil 2003</th>
                <th>GBA</th>
            </tr>
            <tr>
                <th><a href="/id" class="text-decoration-none">Cristal</a></th>
                <th>02 nov 2001</th>
                <th>3DS / GB</th>
            </tr>
            <tr>
                <th><a href="/id" class="text-decoration-none">Or / Argent</a></th>
                <th>06 avril 2001</th>
                <th>3DS / GB</th>
            </tr>
            <tr>
                <th><a href="/id" class="text-decoration-none">Jaune</a></th>
                <th>16 juin 2000</th>
                <th>3DS / GB</th>
            </tr>
            <tr>
                <th><a href="/id" class="text-decoration-none">Rouge / Vert / Bleu</a></th>
                <th>08 oct 1999</th>
                <th>3DS / GB</th>
            </tr>
        </tbody>
    </table>
</div>