
       
            <tr>
                <th><a href="/jeux/{{this.Id_articles}}" class="text-decoration-none">{{this.titlejeux}}</a></th>
                <th>{{this.datesorties}}</th>
                <th class="text-center">{{this.version}}</th>
            </tr>
        

