<h1 class="display-5 text-center">Mon titre</h1>
<div class="container-fluid row justify-content-evenly align-content-center my-5">
        <!-- first container -->
        <div class="col-md-2 col-sm-3">
            <!-- second container-->
            <div class="container border rounded-2">
                <div>
                    <!-- first content -->
                    <h4 class="text-center">Résumé</h4>
                </div>
                <div class="text-center">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam ad, omnis debitis cupiditate
                        assumenda
                        voluptas expedita modi obcaecati! Iste quas placeat iure dignissimos libero itaque voluptatum,
                        odit, aliquam ex voluptas maiores rem tenetur fugit unde enim eaque obcaecati, ab est.
                    </p>
                </div>
            </div>

            <!-- second content-->
            <div class="container my-5">
                <div class="border">
                    <h4 class="text-center">Notes officielles</h4>
                </div>
                <div>
                    <ul class="list-group">
                        <li class="list-group-item">JVC</li>
                        <li class="list-group-item">Gamekult</li>
                        <li class="list-group-item">Metacritic</li>
                        <li class="list-group-item">Jeuxactus</li>
                    </ul>
                </div>
            </div>
        </div>
