<!-- fourth content-->
        <div class="col-md-2 col-sm-6">
            <div class="card">
                <img src="https://www.serieously.com/app/uploads/2021/07/pokemon-staters-sondage.jpg" alt="pochettejeu" class="w-100">
            </div>
            <div class="border my-5">
                <!-- fifth content -->
                <div class="border">
                    <h4 class="text-center">Liens guides</h4>
                </div>
                <div class="text-center">
                    <ul class="list-group">
                        <li class="list-group-item"><a
                                href="https://www.pokebip.com/page/jeuxvideo/legendes-pokemon-arceus/accueil"
                                class="text-decoration-none">Pokebip</a>
                        <li class="list-group-item"><a
                                href="https://www.pokebip.com/page/jeuxvideo/legendes-pokemon-arceus/accueil"
                                class="text-decoration-none">Pokebip</a>
                        <li class="list-group-item"><a
                                href="https://www.pokebip.com/page/jeuxvideo/legendes-pokemon-arceus/accueil"
                                class="text-decoration-none">Pokebip</a>
                        <li class="list-group-item"><a
                                href="https://www.pokebip.com/page/jeuxvideo/legendes-pokemon-arceus/accueil"
                                class="text-decoration-none">Pokebip</a>
                    </ul>
                </div>
            </div>
        </div>
    </div>