<div class="container-fluid text-center py-3">
        <h1 class="display-6 py-2">Liste des animes (Films)</h1>
        <div class="container-fluid">
            <table class="table">
                <thead class="table-secondary">
                    <tr>
                        <th class="col-md-12">Titre</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th><a href="#" class="text-decoration-none">Pokemon Movie 01: Mewtwo no Gyakushuu</a></th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">Pokemon Movie 02: Maboroshi no Pokemon Lugia
                                Bakutan</a></th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">Pokemon Movie 03: Kesshoutou no Teiou Entei</a>
                        </th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">Pokemon Movie 04: Celebi Toki wo Koeta Deai</a>
                        </th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none"> Pokemon Movie 05: Mizu no Miyako no Mamorigami
                                Latias to Latios</a></th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none"> Pokemon Movie 06: Nanayo no Negaiboshi Jirachi</a>
                        </th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">Pokemon Movie 07: Rekkuu no Houmonsha Deoxys</a>
                        </th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">Pokemon Movie 08: Mew to Hadou no Yuusha
                                Lucario</a></th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">Pokemon Movie 09: Pokemon Ranger to Umi no Ouji
                                Manaphy</a></th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">Pokemon Movie 10: Dialga vs. Palkia vs. Darkrai</a>
                        </th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">Pokemon Movie 11: Giratina to Sora no Hanataba
                                Sheimi</a></th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none"> Pokemon Movie 12: Arceus Choukoku no Jikuu e</a>
                        </th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">Pokemon Movie 13: Genei no Hasha Zoroark</a></th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none"> Pokemon Movie 14 White: Victini to Kuroki Eiyuu
                                Zekrom</a></th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">Pokemon Movie 15: Kyurem vs. Seikenshi</a></th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none"> Pokemon Movie 16: Shinsoku no Genosect - Mewtwo
                                Kakusei</a></th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">Pokemon Movie 17: Hakai no Mayu to Diancie</a></th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">Pokemon Movie 18: Ring no Choumajin Hoopa</a></th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">Pokemon Movie 19: Volcanion to Karakuri no
                                Magearna</a></th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">Pokemon Movie 20: Kimi ni Kimeta!</a></th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">Pokemon Movie 21: Minna no Monogatari</a></th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">Pokemon Movie 22: Mewtwo no Gyakushuu Evolution</a>
                        </th>
                    </tr>
                    <tr>
                        <th><a href="#" class="text-decoration-none">Pokemon Movie 23: Koko</a></th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>