<div class="container mt-2 col-7">
    <h1 class="text-center display-5 mt-3">Liste films</h1>
    <table class="table table-hover">
        <thead class="table-primary">
            <tr>
                <th class="text-secondary" scope="col">Titre</th>
                <th class="text-secondary" scope="col">Année</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row"><a href="#" class="text-decoration-none">Pokemon Movie 01: Mewtwo no Gyakushuu</a></th>
                <th>18 juillet 1998</th>
            </tr>
            <tr>
                <th scope="row"><a href="#" class="text-decoration-none">Pokemon Movie 02: Maboroshi no Pokemon Lugia
                        Bakutan</a></th>
                <th>17 juillet 1999</th>
            </tr>
            <tr>
                <th scope="row"><a href="#" class="text-decoration-none">Pokemon Movie 03: Kesshoutou no Teiou Entei</a>
                </th>
                <th>8 juillet 2000</th>
            </tr>
            <tr>
                <th scope="row"><a href="#" class="text-decoration-none">Pokemon Movie 04: Celebi Toki wo Koeta Deai</a>
                </th>
                <th>7 juillet 2001</th>
            </tr>
            <tr>
                <th scope="row"><a href="#" class="text-decoration-none">Pokemon Movie 05: Mizu no Miyako no Mamorigami
                        Latias to Latios</a></th>
                <th>13 juillet 2002</th>
            </tr>
            <tr>
                <th scope="row"><a href="#" class="text-decoration-none">Pokemon Movie 06: Nanayo no Negaiboshi Jirachi</a>
                </th>
                <th>19 juillet 2003</th>
            </tr>
            <tr>
                <th scope="row"><a href="#" class="text-decoration-none">Pokemon Movie 07: Rekkuu no Houmonsha Deoxys</a>
                </th>
                <th>17 juillet 2004</th>
            </tr>
            <tr>
                <th scope="row"><a href="#" class="text-decoration-none">Pokemon Movie 08: Mew to Hadou no Yuusha
                        Lucario</a></th>
                <th>16 juillet 2005</th>
            </tr>
                
            <tr>
                <th scope="row"><a href="#" class="text-decoration-none">Pokemon Movie 09: Pokemon Ranger to Umi no Ouji
                        Manaphy</a></th>
                <th>15 juillet 2006</th>
            </tr>
            <tr>
                <th scope="row"><a href="#" class="text-decoration-none">Pokemon Movie 10: Dialga vs. Palkia vs. Darkrai</a>
                </th>
                <th>15 juillet 2007</th>
            </tr>
            <tr>
                <th scope="row"><a href="#" class="text-decoration-none">Pokemon Movie 11: Giratina to Sora no Hanataba
                        Sheimi</a></th>
                <th>19 juillet 2008</th>
            </tr>
            <tr>
                <th scope="row"><a href="#" class="text-decoration-none">Pokemon Movie 12: Arceus Choukoku no Jikuu e</a>
                </th>
                <th>18 juillet 2009</th>
            </tr>
            <tr>
                <th scope="row"><a href="#" class="text-decoration-none">Pokemon Movie 13: Genei no Hasha Zoroark</a></th>
                <th>10 juillet 2010</th>
            </tr>
            <tr>
                <th scope="row"><a href="#" class="text-decoration-none">Pokemon Movie 14 White: Victini to Kuroki Eiyuu
                        Zekrom</a></th>
                <th>16 juillet 2011</th>
            </tr>
            <tr>
                <th scope="row"><a href="#" class="text-decoration-none">Pokemon Movie 15: Kyurem vs. Seikenshi</a></th>
                <th>14 juillet 2012</th>
            </tr>
            <tr>
                <th scope="row"><a href="#" class="text-decoration-none">Pokemon Movie 16: Shinsoku no Genosect - Mewtwo
                        Kakusei</a></th>
                <th>13 juillet 2013</th>
            </tr>
            <tr>
                <th scope="row"><a href="#" class="text-decoration-none">Pokemon Movie 17: Hakai no Mayu to Diancie</a></th>
                <th>19 juillet 2014</th>
            </tr>
            <tr>
                <th scope="row"><a href="#" class="text-decoration-none">Pokemon Movie 18: Ring no Choumajin Hoopa</a></th>
                <th>19 juillet 2015</th>
            </tr>
            <tr>
                <th scope="row"><a href="#" class="text-decoration-none">Pokemon Movie 19: Volcanion to Karakuri no
                        Magearna</a></th>
                <th>5 juillet 2016</th>
            </tr>
            <tr>
                <th scope="row"><a href="#" class="text-decoration-none">Pokemon Movie 20: Kimi ni Kimeta!</a></th>
                <th>25 juillet 2017</th>
            </tr>
            <tr>
                <th scope="row"><a href="#" class="text-decoration-none">Pokemon Movie 21: Minna no Monogatari</a></th>
                <th>8 juillet 2018</th>
            </tr>
            <tr>
                <th scope="row"><a href="#" class="text-decoration-none">Pokemon Movie 22: Mewtwo no Gyakushuu Evolution</a>
                </th>
                <th>27juillet 2020</th>
            </tr>
            <tr>
                <th scope="row"><a href="#" class="text-decoration-none">Pokemon Movie 23: Koko</a></th>
                <th>25 décembre 2020</th>
            </tr>
        </tbody>
    </table>
</div>