        <tbody>
            <tr>
                <th><a href="/id" class="text-decoration-none">{{this.titlefilms}}</a></th>
                <th class="text-center">{{this.datefilms}}</th>
            </tr>
        </tbody>