
            <tr>
                <th><a href="/series/{{this.Id_articles}}" class="text-decoration-none">{{this.titleseries}}</a></th>
                <th class="text-center">{{this.sortieserie}}</th>
                <th class="text-center">{{this.nbeps}}</th>
            </tr>
