        <tbody>
            <tr>
                <th><a href="/id" class="text-decoration-none">{{series.titleseries}}</a></th>
                <th class="text-center">{{series.parution}}</th>
                <th class="text-center">{{series.nb}}</th>
            </tr>
        </tbody>