    
            <tr>
                <th><a href="/films/{{this.Id_articles}}" class="text-decoration-none">{{this.titlefilms}}</a></th>
                <th class="text-center">{{this.datefilms}}</th>
            </tr>
        