<form class="d-flex col-lg-3 col-md-4 col-sm-6 mt-5 ml-5 ms-3 gap-3" role="search">
    <input class="form-control" type="search" placeholder="Rechercher" aria-label="Search" />
    <button class="btn btn-outline-primary " type="submit">Rechercher</button>
</form>

<div class="table-responsive-sm container mt-2">
    <h1 class="text-center display-5 mt-3">Liste Users</h1>
    <table class="table table-hover table-striped">
        <thead class="table-primary">
            <tr>
                <th class="col-2 text-secondary">Nom</th>
                <th class="col-2 text-secondary">Prénom</th>
                <th class="col-2 text-secondary">Pseudo</th>
                <th class="col-2 text-secondary">Email</th>
                <th class="col-2 text-secondary">Mot de passe</th>
                <th class="col-2 text-secondary">Date de naissance</th>
                <th class="col-2 text-secondary"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th><a href="/id" class="text-decoration-none">Ecarlate / Violet</a></th>
                <th>18 nov 2022</th>
                <th>Switch</th>
            </tr>
            <tr>
                <th><a href="/id" class="text-decoration-none">Légendes Pokémon</a></th>
                <th>28 jan 2022</th>
                <th>Switch</th>
            </tr>
            <tr>
                <th><a href="/id" class="text-decoration-none">Diamant Etincelant / Perle Scintillante</a></th>
                <th>19 nov 2021</th>
                <th>Switch</th>
            </tr>
        </tbody>
    </table>
</div>