<form class="d-flex col-lg-3 col-md-4 col-sm-6 mt-5 ml-5 ms-3 gap-3" role="search">
    <input class="form-control" type="search" placeholder="Rechercher" aria-label="Search" />
    <button class="btn btn-outline-primary " type="submit">Rechercher</button>
</form>


<div class="container table-responsive-sm mt-2 col-10">
    <h1 class="text-center display-5 mt-3">Liste users</h1>
    <table class="table table-hover table-striped">
        <thead class="table-primary">
            <tr>
                <th class="col text-secondary">Nom</th>
                <th class="col text-secondary text-center">prénom</th>
                <th class="col text-secondary text-center">Date crée</th>
                <th class="col text-secondary text-center">Edité le</th>
                <th class="col-1 text-secondary text-center">Action</th>
            </tr>
            <tbody>
            {{#each user}}
            {{>admin/tablesusers data=this}}
            {{/each}}
            </tbody>
        </thead>
    </table>
</div>

<div class="container table-responsive-sm mt-2 col-7">
    <h1 class="text-center display-5 mt-3">Liste Catégorie</h1>
    <table class="table table-hover table-striped">
        <thead class="table-primary">
            <tr>
                <th class="col text-secondary">Titre</th>
                <th class="col text-secondary">Article</th>
                <th class="col text-secondary text-center">Date crée</th>
                <th class="col text-secondary text-center">Edité le</th>
                <th class="col-1 text-secondary text-center">Action</th>
            </tr>
            <tbody>
            {{#each categorie}}
            {{>admin/tablescategories data=this}}
            {{/each}}
            </tbody>
        </thead>
    </table>
</div>

<div class="container table-responsive-sm mt-2 col-7">
    <h1 class="text-center display-5 mt-3">Liste Jeux vidéos</h1>
    <table class="table table-hover table-striped">
        <thead class="table-primary">
            <tr>
                <th class="col text-secondary">Titre</th>
                <th class="col text-secondary">Article</th>
                <th class="col text-secondary text-center">Date crée</th>
                <th class="col text-secondary text-center">Edité le</th>
                <th class="col-1 text-secondary text-center">Action</th>
            </tr>
            <tbody>
            {{#each jeux}}
            {{>admin/tablesjeux data=this}}
            {{/each}}
            </tbody>
        </thead>
    </table>
</div>


<div class="container table-responsive-sm mt-2 col-7">
    <h1 class="text-center display-5 mt-3">Liste Mangas</h1>
    <table class="table table-hover table-striped">
        <thead class="table-primary">
            <tr>
                <th class="col text-secondary">Titre</th>
                <th class="col text-secondary">Article</th>
                <th class="col text-secondary text-center">Date crée</th>
                <th class="col text-secondary text-center">Edité le</th>
                <th class="col-1 text-secondary text-center">Action</th>
            </tr>
            <tbody>
            {{#each manga}}
            {{>admin/tablesmangas data=this}}
            {{/each}}
            </tbody>
        </thead>
    </table>
</div>


<div class="container table-responsive-sm mt-2 col-7">
    <h1 class="text-center display-5 mt-3">Liste Séries</h1>
    <table class="table table-hover table-striped">
        <thead class="table-primary">
            <tr>
                <th class="col text-secondary">Titre</th>
                <th class="col text-secondary">Article</th>
                <th class="col text-secondary text-center">Date crée</th>
                <th class="col text-secondary text-center">Edité le</th>
                <th class="col-1 text-secondary text-center">Action</th>
            </tr>
            <tbody>
            {{#each serie}}
            {{>admin/tablesseries data=this}}
            {{/each}}
            </tbody>
        </thead>
    </table>
</div>


<div class="container table-responsive-sm mt-2 col-7">
    <h1 class="text-center display-5 mt-3">Liste films</h1>
    <table class="table table-hover table-striped">
        <thead class="table-primary">
            <tr>
                <th class="col text-secondary">Titre</th>
                <th class="col text-secondary">Article</th>
                <th class="col text-secondary text-center">Date crée</th>
                <th class="col text-secondary text-center">Edité le</th>
                <th class="col-1 text-secondary text-center">Action</th>
            </tr>
            <tbody>
            {{#each film}}
            {{>admin/tablesfilms data=this}}
            {{/each}}
            </tbody>
        </thead>
    </table>
</div>


<div class="container table-responsive-sm mt-2 col-7">
    <h1 class="text-center display-5 mt-3">Liste boosters</h1>
    <table class="table table-hover table-striped">
        <thead class="table-primary">
            <tr>
                <th class="col text-secondary">Titre</th>
                <th class="col text-secondary">Article</th>
                <th class="col text-secondary text-center">Date crée</th>
                <th class="col text-secondary text-center">Edité le</th>
                <th class="col-1 text-secondary text-center">Action</th>
            </tr>
            <tbody>
            {{#each booster}}
            {{>admin/tablesboosters data=this}}
            {{/each}}
            </tbody>
        </thead>
    </table>
</div>


<div class="container table-responsive-sm mt-2 col-7">
    <h1 class="text-center display-5 mt-3">Liste decks</h1>
    <table class="table table-hover table-striped">
        <thead class="table-primary">
            <tr>
                <th class="col text-secondary">Titre</th>
                <th class="col text-secondary">Article</th>
                <th class="col text-secondary text-center">Date crée</th>
                <th class="col text-secondary text-center">Edité le</th>
                <th class="col-1 text-secondary text-center">Action</th>
            </tr>
            <tbody>
            {{#each deck}}
            {{>admin/tablesdecks data=this}}
            {{/each}}
            </tbody>
        </thead>
    </table>
</div>

