<form class="d-flex col-lg-3 col-md-4 col-sm-6 mt-5 ml-5 ms-3 gap-3" role="search">
    <input class="form-control" type="search" placeholder="Rechercher" aria-label="Search" />
    <button class="btn btn-outline-primary " type="submit">Rechercher</button>
</form>