<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blogId</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<body>
    <!-- Barre de navigation-->

    <nav class="navbar navbar-expand my-4 mb-5" style="background-color: rgba(240, 128, 128)">
        <div class="container-fluid p-4">
            <!--Placer une img ou icon -->
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="/images pour mon site/icon.jpg" alt="icon samurai" width="40" height="44"
                        class="rounded-circle" />
                </a>
            </div>

            <div class="collapse navbar-collapse d-flex justify-content-lg-between" id="navbarNav ">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Acceuil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Projets</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>






    <div class="container">


        <!-- Nav - Tab - Menu -->
        <ul class="nav nav-a mb-3" id="pills-tab" role="tablist">
            <!-- btn Register -->
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="pills-sinscrire-tab" data-bs-toggle="pill"
                    data-bs-target="#pills-sinscrire" type="button" role="tab" aria-controls="pills-sinscrire"
                    aria-selected="true">S'inscrire</button>
            </li>
            <!-- btn Login -->
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-seconnecte-tab" data-bs-toggle="pill"
                    data-bs-target="#pills-seconnecte" type="button" role="tab" aria-controls="pills-seconnecte"
                    aria-selected="false">Se connecte</button>
            </li>
            <!-- btn Password -->
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-motdepasseoublie-tab" data-bs-toggle="pill"
                    data-bs-target="#pills-motdepasseoublie" type="button" role="tab"
                    aria-controls="pills-motdepasseoublie" aria-selected="false">Mot de passe oublié</button>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <!-- Form Register -->
            <div class="tab-pane fade show active" id="pills-sinscrire" role="tabpanel"
                aria-labelledby="pills-sinscrire-tab" tabindex="0">

                <div class="container-lg container-md container-sm container-xs rounded-5 position-relative pb-5 mb-5 position-relative"
                    style="background-color: rgba(240, 128, 128)">

                    <!--peu etre la boule je vais la placer ici-->
                    <div class="position-absolute top-0 start-50 translate-middle ">
                        <img src="https://www.apyart.com/1904-thickbox_default/rouge-pop-500ml.jpg" alt=""
                            class="rounded-circle" style="width: 250px;">
                    </div>

                    <div class="row-gap-3">
                        <div class="col-12 col-md-12 col-lg-12">
                            <div class="d-flex justify-content-center">
                                <h1>Formulaire de Register</h1>
                            </div>


                            <div class="mb-3">
                                <label for="Email" class="form-label">Email :</label>
                                <input type="email" class="form-control rounded-5" id="exampleFormControlInput1"
                                    placeholder="name@example.com" />
                            </div>


                            <div class="mb-3">
                                <label for="UserName" class="form-label">Nom :</label>
                                <input class="form-control rounded-5" type="text" placeholder="Default input"
                                    aria-label="default input example" />
                            </div>




                            <div class="mb-3">
                                <label for="Password" class="form-label">Mot de passe :</label>
                                <input type="email" class="form-control rounded-5" id="exampleFormControlInput1"
                                    placeholder="name@example.com" />
                            </div>

                            <div class="mb-3">
                                <label for="confpassword" class="form-label">Confirmez mot passe :</label>
                                <input type="email" class="form-control rounded-5" id="exampleFormControlInput1"
                                    placeholder="name@example.com" />
                            </div>


                            <div class="d-grid gap-2 col-6 mx-auto position-absolute top-100 start-50 translate-middle">
                                <button class="btn btn-danger rounded-5"
                                    style="background-color: rgba(255, 0, 0, 0.813)" type="button">
                                    Soumettre
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Form Login -->
            <div class="tab-pane fade" id="pills-seconnecte" role="tabpanel" aria-labelledby="pills-seconnecte-tab"
                tabindex="0">

                <div class="container-lg container-md container-sm container-xs rounded-5 position-relative pb-5 mb-5"
                    style="background-color: rgba(240, 128, 128)">
                    <div class="row-gap-3">
                        <div class="col-12 col-md-12 col-lg-12">
                            <div class="d-flex justify-content-center">
                                <h1>Formulaire de Login</h1>
                            </div>

                            <div class="mb-3">
                                <label for="Psedo/Email" class="form-label">Psedo / Email :</label>
                                <input class="form-control rounded-5" type="text" placeholder="Default input"
                                    aria-label="default input example" />
                            </div>

                            <div class="mb-3">
                                <label for="Password" class="form-label">Mot de passe :</label>
                                <input type="email" class="form-control rounded-5" id="exampleFormControlInput1"
                                    placeholder="name@example.com" />
                            </div>





                            <div class="d-grid gap-2 col-6 mx-auto position-absolute top-100 start-50 translate-middle">
                                <button class="btn btn-danger rounded-5"
                                    style="background-color: rgba(255, 0, 0, 0.813)" type="button">
                                    Soumettre
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Form Lostpassword -->
            <div class="tab-pane fade" id="pills-motdepasseoublie" role="tabpanel"
                aria-labelledby="pills-motdepasseoublie-tab" tabindex="0">

                <div class="container-lg container-md container-sm container-xs rounded-5 position-relative pb-5 mb-5"
                    style="background-color: rgba(240, 128, 128)">
                    <div class="row-gap-3">
                        <div class="col-12 col-md-12 col-lg-12">
                            <div class="d-flex justify-content-center">
                                <h1>Formulaire de LostPassword</h1>
                            </div>

                            <div class="mb-3">
                                <label for="Email" class="form-label">Email :</label>
                                <input class="form-control rounded-5" type="text" placeholder="Default input"
                                    aria-label="default input example" />
                            </div>



                            <div class="d-grid gap-2 col-6 mx-auto position-absolute top-100 start-50 translate-middle">
                                <button class="btn btn-danger rounded-5"
                                    style="background-color: rgba(255, 0, 0, 0.813)" type="button">
                                    Soumettre
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>





    <!-- 
  <div class="container-lg container-md container-sm container-xs rounded-5 position-relative mb-5"
    style="background-color: rgba(240, 128, 128)">
    <div class="row-gap-3">
      <div class="col-12 col-md-12 col-lg-12">
        <div class="d-flex justify-content-center">
          <h1>Formulaire de contact</h1>
        </div>

        <div class="mb-3">
          <label for="UserName" class="form-label">UserName :</label>
          <input class="form-control rounded-5" type="text" placeholder="Default input"
            aria-label="default input example" />
        </div>

        <div class="mb-3">
          <label for="Email" class="form-label">Email :</label>
          <input type="email" class="form-control rounded-5" id="exampleFormControlInput1"
            placeholder="name@example.com" />
        </div>





        <div class="d-grid gap-2 col-6 mx-auto position-absolute top-100 start-50 translate-middle">
          <button class="btn btn-danger rounded-5" style="background-color: rgba(255, 0, 0, 0.813)" type="button">
            Soumettre
          </button>
        </div>
      </div>
    </div>
  </div> -->



    <!--FOOTER-->

    <footer class="container-fluid" style="background-color: rgba(240, 128, 128)">
        <div class="row">
            <div class="d-flex justify-content-center text-center">
                <p>Suiver-moi</p>
            </div>

            <div class="container d-flex justify-content-lg-around justify-content-sm-center justify-content-center">
                <div>
                    <a class="navbar-brand" href="#">
                        <img src="/images pour mon site/icon.jpg" alt="icon samurai" width="40" height="44"
                            class="rounded-circle" />
                    </a>
                </div>

                <div>
                    <a class="navbar-brand" href="#">
                        <img src="/images pour mon site/icon.jpg" alt="icon samurai" width="40" height="44"
                            class="rounded-circle" />
                    </a>
                </div>
            </div>
            <div class="d-flex justify-content-center text-center">
                <p>CopyRight Allan 2023</p>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>

</html>