    <!-- content -->
    <div class="container mt-5 d-flex">
        <form>
            <h1 class="text-center mt-5">Contact</h1>
            <p class="text-center mt-5">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem beatae, cupiditate magni ratione odio
                saepe,
                accusamus animi voluptatem sed fugiat,
                unde earum dolore quia tempora veritatis est. Ipsum, soluta culpa.</p>
            <div class="row g-5">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Nom" aria-label="First name">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Prenom" aria-label="Last name">
                </div>
            </div>
            <div class="mb-3 mt-3">
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Sujet">
            </div>
            <div class="form">
                <textarea class="form-control" placeholder="Votre message" id="floatingTextarea"></textarea>
            </div>
            <div class="row justify-content-center">
                <button type="button" class="btn btn-primary mt-3 col-md-1">Envoyer</button>
            </div>
        </form>
    </div>