<div class="container d-flex justify-content-center">
        <form>
            <h1 class="text-center">Inscription</h1>
            <div class="row g-3 mt-1">
                <div class="col-md-4">
                    <input type="text" class="form-control" placeholder="Nom" aria-label="nom">
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control" placeholder="Prenom" aria-label="prenom">
                </div>
                <div class="col-md-4">
                    <input type="email" class="form-control" placeholder="Email" aria-label="email">
                </div>
                <div class="col-md-6">
                    <input type="password" class="form-control" placeholder="Mot de passe" aria-label="motdepasse">
                    <div id="passwordHelpBlock" class="form-text">
                        <ul>
                            <li>Un chiffre obligatoire</li>
                            <li>Un caractère spécial</li>
                            <li>Minium 5 lettres</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <input type="password" class="form-control" placeholder="Confirmer mot de passe"
                        aria-label="motdepasseconfirm">
                </div>
                <div class="col-md-6">
                    <input type="datetime" class="form-control" placeholder="Date de naissance" aria-label="date">
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Choisir un pseudo" aria-label="pseudo">
                </div>
                <div class="row justify-content-center mt-2">
                    <button type="button" class="btn btn-primary mt-3 col-md-1">Envoyer</button>
                </div>
            </div>

            <div class="d-flex gap-3 mt-5 justify-content-end">
                <div>
                    <a href="/connexion" class="text-decoration-none">Connexion</a>
                </div>
            </div>
        </form>
    </div>