<div class="container table-responsive-sm mt-2 col-4">
    <h1 class="text-center display-5 mt-3">Liste jeux</h1>
    <table class="table table-hover table-striped">
        <thead class="table-primary">
            <tr>
                <th class="col text-secondary">Titre</th>
                <th class="col text-secondary">Date de sortie</th>
                <th class="col text-secondary text-center">Version</th>
            </tr>
            <tbody>
            {{#each data}}
            {{>jeuxvideos/tables data=this}}
            {{/each}}
            </tbody>
        </thead>
    </table>
</div>