<!-- content -->
<form action="submit" class="container-fluid my-5">
    <div class="row justify-content-center my-2 mb-5">
        <h1 class="text-center mb-5">Mot de passe oublié</h1>
        <div class="col-md-3 mt-2 col-sm-5">
            <input type="text" class="form-control " placeholder="Pseudo" aria-label="nickname">
        </div>
        <div class="col-md-3 mt-2 col-sm-5">
            <input type="email" class="form-control " placeholder="Email" aria-label="email">
        </div>
    </div>
    <div class="container-fluid text-center">
        <button type="button" class="btn btn-primary">Envoyer</button>
        <div class="container-fluid text-end m-3">
            <a href="/connexion" class="text-decoration-none m-2">Connexion</a>
            <a href="/creation" class="text-decoration-none m-2">Créer un compte</a>
        </div>
    </div>
</form>