<h1 class="text-center display-6 py-3">Mon profil</h1>

<div class="container">
    <div class="d-flex justify-content-center">
        <img src="https://puu.sh/Jxyfm/bd90fd2c6e.png" class="rounded-circle" alt="Kyousuke">
    </div>
</div>

<form action="submit" class="container-fluid my-5">
    <div class="row justify-content-center my-2 mb-5 g-2 g-lg-3">
        <div class="col-md-3 mt-2">
            <input type="text" class="form-control mb-3" placeholder="Prénom" aria-label="First name">
            <input type="text" class="form-control mb-3" placeholder="Pseudo" aria-label="nickname">
            <input type="password" class="form-control mb-3" placeholder="Mot de passe" aria-label="password">
        </div>
        <div class="col-md-3 mt-2">
            <input type="text" class="form-control mb-3" placeholder="Nom" aria-label="Last name">
            <input type="email" class="form-control mb-3" placeholder="Email" aria-label="email">
            <input type="date" class="form-control mb-3" placeholder="Date de naissance" aria-label="birthday">
        </div>
    </div>
    <div class="col-md-6 container-fluid text-center">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#edit">Modifier</button>
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete">Supprimer</button>
    </div>
</form>

<!-- Modal 1 -->
<div class="modal fade" id="edit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <!-- formulaire -->
                <form>
                    <div class="row g-3">
                        <div>
                            <input type="text" class="form-control" placeholder="Changer de pseudo" aria-label="pseudo"
                                name="pseudo">
                        </div>
                        <div>
                            <input type="email" class="form-control" placeholder="Changer d'email" aria-label="mail"
                                name="email">
                        </div>
                        <div>
                            <input type="password" class="form-control" placeholder="Changer de Mot de passe"
                                aria-label="password" name="password">
                        </div>
                        <div id="passwordHelpBlock" class="form-text">
                            <ul>
                                <li>Un chiffre obligatoire</li>
                                <li>Un caractère spécial</li>
                                <li>Minium 5 lettres</li>
                            </ul>
                        </div>
                        <div>
                            <input type="date" class="form-control" placeholder="Date de naissance"
                                aria-label="birthday" name="birthday">
                        </div>
                        <div>
                            <label>Valider les changements</label>
                            <input type="password" class="form-control" placeholder="Reconfirmer avec le mot de passe"
                                aria-label="password" name="password">
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Modifier</button>
                <button type="button" class="btn btn-danger">Supprimer</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal 1 -->
<div class="modal fade" id="delete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="fw-bold">Souhaitez-vous supprimer le profil ?</p>
                <p>Une fois l'action effectuée, il n'y aura pas de restitution de compte.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Supprimer</button>
                <button type="button" class="btn btn-danger">Annuler</button>
            </div>
        </div>
    </div>
</div>