<h1 class="text-center display-6 py-3">Mon profil</h1>

<div class="container">
    <div class="d-flex justify-content-center">
        <img src="https://puu.sh/Jxyfm/bd90fd2c6e.png" class="rounded-circle" alt="Kyousuke">
    </div>
</div>

<form action="submit" class="container-fluid my-5">
    <div class="row justify-content-center my-2 mb-5 g-2 g-lg-3">
        <div class="col-md-3 mt-2">
            <input type="text" class="form-control mb-3" placeholder="Prénom" aria-label="First name">
            <input type="text" class="form-control mb-3" placeholder="Pseudo" aria-label="nickname">
            <input type="password" class="form-control mb-3" placeholder="Mot de passe" aria-label="password">
        </div>
        <div class="col-md-3 mt-2">
            <input type="text" class="form-control mb-3" placeholder="Nom" aria-label="Last name">
            <input type="email" class="form-control mb-3" placeholder="Email" aria-label="email">
            <input type="date" class="form-control mb-3" placeholder="Date de naissance" aria-label="birthday">
        </div>
    </div>
    <div class="col-md-6 container-fluid text-center">
        <button type="button" class="btn btn-primary">Modifier</button>
        <button type="button" class="btn btn-danger">Supprimer</button>
    </div>
</form>